body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(241, 187, 50);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.booking-successful {
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Set maximum width for the box */
    width: 100%;
}

.icon {
    font-size: 48px;
    color: #4caf50;
    margin-bottom: 20px;
}

h1, p {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
