<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HOTEL NOORJAHAN GRAND</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/public/images/logo.png" type="image/png">
</head>

<body>

    <!-- header -->
    <header class="header" id="header">
        <div class="head-top">
            <div class="site-name">
                <span>NOORJAHAN GRAND</span>
            </div>
            <div class="site-nav">
                <span id="nav-btn">MENU <i class="fas fa-bars"></i></span>
            </div>
        </div>
        <div class="wavey">
            
            <span style="--i:1;">W</span>
            <span style="--i:2;">e</span>
            <span style="--i:3;">l</span>
            <span style="--i:4;">c</span>
            <span style="--i:5;">o</span>
            <span style="--i:6;">m</span>
            <span style="--i:7;">e</span>
             

        </div>

        <div class="head-bottom flex">
            <h2>NICE AND COMFORTABLE PLACE TO STAY</h2>
            <p>Welcome to our oasis of luxury in the heart of the city. Immerse yourself in elegance, comfort, and
                impeccable service. Enjoy stunning views, modern amenities, and exquisite dining. Whether for business
                or leisure, our hotel promises a seamless blend of tranquility and opulence.</p>

        </div>
    </header>
    <!-- end of header -->

    <!-- side navbar -->
    <div class="sidenav" id="sidenav">
        <span class="cancel-btn" id="cancel-btn">
            <i class="fas fa-times"></i>
        </span>

        <ul class="navbar">
            <li><a href="#header">home</a></li>
            <li><a href="#services">services</a></li>
            <li><a href="#rooms">rooms</a></li>
            <li><a href="#customers">customers</a></li>
        </ul>
        <!-- <button class = "btn sign-up">sign up</button> -->
        <style>
            .button-container {
                display: flex;
            }
            
          


            


            /* Add these styles to your existing CSS file */

            .cancel-button {
                display: inline-block;
                background-color: #e72412;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }

            .cancel-button:hover {
                background-color: #dd463c;
            }



            .custom-button {
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                padding: 15px 30px;
                border-radius: 8px;
                background-color: yellow;
                color: black;
                border: 2px solid #ffd700;
                transition: all 0.3s ease;
                cursor: pointer;
                margin-right: 20px;
                /* Adds space between buttons */
            }

            .custom-button:last-child {
                margin-right: 0;
            }

            .custom-button:hover {
                background-color: #ffd700;
                color: black;
                transform: scale(1.05);
                border-color: #ffd700;
            }
        </style>

        <div class="button-container">
            <form method="GET">
                <a class="custom-button" href="/registration">Sign up</a>
            </form>

            <form method="GET">
                <a class="custom-button" href="/login">Login</a>
            </form>
        </div>



    </div>
    <!-- end of side navbar -->

    <!-- fullscreen modal -->
    <div id="modal"></div>
    <!-- end of fullscreen modal -->

    <!-- body content  -->
    <section class="services sec-width" id="services">
        <div class="title">
            <h2>services</h2>
        </div>
        <div class="services-container">
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-utensils"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Food Service/ Food Runner</h2>
                    <p>An All-Day Global Cuisine Resturant On The 14th Floor. The Secret Recipe Serves Breakfast, Lunch,
                        Dinner and An All-Day A La Carte Menu. With Cuisine Offered In A Multitude Of Styles. Including
                        Bangla, Thai, Chinese, Continental, Italian, Indian & Mediterranean. Our Chef's Use Their Secret
                        Recipe To Make It A Unique Dining Experience For You</p>
                    <button type="button" class="btn">Know More</button>
                </div>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-swimming-pool"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Refreshment</h2>
                    <p>The Lobby Lounge Serves A Fine Selection Of Coffee. Tea and Assorted Cookies Including The
                        Popular and Authentic. Non-Alcoholic Beverages and Soft Drinks Are Also Served. When Guests Can
                        Enjoy Live Grand Piano Performances Surrounded By Super-Comfy and Elegant Sofa Seating</p>
                    <button type="button" class="btn">Know More</button>
                </div>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-broom"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Housekeeping</h2>
                    <p>Indulge in meticulous housekeeping services tailored to perfection. Our expert team meticulously
                        cleans, organizes, and refreshes every corner of your space. We pay unparalleled attention to
                        detail, ensuring a spotless environment that exceeds your expectations. Relax and revel in the
                        utmost cleanliness, allowing you to savor a truly refined living experience.</p>
                    <button type="button" class="btn">Know More</button>
                </div>
            </article>
            <!-- end of single service -->
            <!-- single service -->
            <article class="service">
                <div class="service-icon">
                    <span>
                        <i class="fas fa-door-closed"></i>
                    </span>
                </div>
                <div class="service-content">
                    <h2>Room Security</h2>
                    <p> Experience peace of mind with our top-notch room security services. We prioritize your safety
                        with state-of-the-art surveillance, secure access control, and attentive staff, ensuring a safe
                        haven for your stay. Rest easy knowing your privacy and security are our utmost concern,
                        allowing you to enjoy your time with complete confidence.</p>
                    <button type="button" class="btn">Know More</button>
                </div>
            </article>
            <!-- end of single service -->
        </div>
    </section>


    <form action="/room_availability" method="get">
        
        <label for="checkin-date">Check-In Date:</label>
        <input type="date" name="checkin-date" required />
        
        
        <label for="checkout-date">Check-Out Date:</label>
        <input type="date" name="checkout-date" required />
    
      
        <button type="submit" >Find Rooms</button>
        <button type="submit" name="action" value="cancelBooking">Cancel Booking</button>
    </form>
    
    <!-- <script>
        // Get today's date in the format "YYYY-MM-DD"
        const today = new Date().toISOString().split('T')[0];
    
        // Set the min attribute for the check-in date input
        document.getElementById('checkin-date').min = today;
    
        // Set the min attribute for the check-out date input
        document.getElementById('checkout-date').min = today;
    </script> -->

    <section class="rooms sec-width" id="rooms">
        <div class="title">
            <h2>rooms</h2>
        </div>
        <div class="rooms-container">
            <!-- single room -->
            <article class="room">
                <div class="room-image">
                    <img src="/public/images/boutique1.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>BOUTIQUE Room</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Aircondition
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Flat screen TV
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Mini Bar
                        </li>
                    </ul>
                    <p>20 Sq.m. rooms, city views, integrated climate control, free Wi-Fi, electronic safe capable of
                        holding a laptop, flat screen TV, bathrobes, hair dryer, luxurious bathroom.</p>

                    <p class="rate">
                        <span>BDT 3,150.000 /</span> Per Night
                    </p>
                    
                </div>
            </article>
            <!-- end of single room -->
            <!-- single room -->
            <article class="room">
                <div class="room-image">
                    <img src="/public/images/executive_double1.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>EXECUTIVE DOUBLE</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>

                            Aircondition
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Safety Vault
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Bathroom amenities
                        </li>
                    </ul>
                    <p>25 Sq.m. rooms, city views, integrated climate control, free Wi-Fi, electronic safe capable of
                        holding a laptop, flat screen TV, bathrobes, hair dryer, luxurious bathroom.</p>

                    <p class="rate">
                        <span>BDT 4,200.000 /</span> Per Night
                    </p>
                    
                </div>
            </article>
            <!-- end of single room -->
            <!-- single room -->
            <article class="room">
                <div class="room-image">
                    <img src="/public/images/family_suite1.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>FAMILY SUITE</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Aircondition
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Coffee and tea
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Mini Bar
                        </li>
                    </ul>
                    <p>30 Sq.m. rooms, city views, integrated climate control, free Wi-Fi, electronic safe capable of
                        holding a laptop, flat screen TV, bathrobes, hair dryer, luxurious bathroom.</p>

                    <p class="rate">
                        <span>BDT 7,000.000/</span> Per Night
                    </p>
                </div>
            </article>
            <!-- end of single room -->

            <article class="room">
                <div class="room-image">
                    <img src="/public/images/executive_twin1.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>EXECUTIVE TWIN</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Safety Vault
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Flat screen TV
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Bathroom amenities
                        </li>
                    </ul>
                    <p>22 Sq.m. rooms, city views, integrated climate control, free Wi-Fi, electronic safe capable of
                        holding a laptop, flat screen TV, bathrobes, hair dryer, luxurious bathroom.</p>

                    <p class="rate">
                        <span>BDT 6,200.000 /</span> Per Night
                    </p>
                </div>
            </article>
            <!-- end of Executive twin -->

            <article class="room">
                <div class="room-image">
                    <img src="/public/images/premier_twin1.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>PREMIER TWIN</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Coffee and tea
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Hair dryer
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Aircondition
                        </li>
                    </ul>
                    <p>30 Sq.m. rooms, city views, integrated climate control, free Wi-Fi, electronic safe capable of
                        holding a laptop, flat screen TV, bathrobes, hair dryer, luxurious bathroom.</p>

                    <p class="rate">
                        <span>BDT 8,500.000 /</span> Per Night
                    </p>
                </div>
            </article>
            <!-- end of Executive twin -->

            <article class="room">
                <div class="room-image">
                    <img src="/public/images/grand_suite.jpg" alt="room image">
                </div>
                <div class="room-text">
                    <h3>GRAND SUITE</h3>
                    <ul>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            50" Flat screen TV
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Jacuzzi
                        </li>
                        <li>
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            Marbel Top Wash
                        </li>
                    </ul>
                    <p>40 Sq.m. rooms, city views, integrated climate control, free Wi-Fi, electronic safe capable of
                        holding a laptop, flat screen TV, bathrobes, hair dryer, luxurious bathroom.</p>

                    <p class="rate">
                        <span>BDT 18,000.000 /</span> Per Night
                    </p>
                </div>
            </article>
            <!-- end of Executive twin -->

        </div>
    </section>


    <section class="customers" id="customers">
        <div class="sec-width">
            <div class="title">
                <h2>customers</h2>
            </div>
            <div class="customers-container">
                <!-- single customer -->
                <div class="customer">
                    <div class="rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>
                    <h3>We Loved it</h3>
                    <p>"My stay at Hotel Noorjahan Grand was fantastic! The room was modern and comfortable, the staff
                        was friendly and helpful, and the location was perfect. I especially loved the convenient access
                        to major attractions. Highly recommended for a great stay in Sylhet!"</p>
                    <img src="/public/images/cus1.jpg" alt="customer image">
                    <span>Liam Nisson, London</span>
                </div>
                <!-- end of single customer -->
                <!-- single customer -->
                <div class="customer">
                    <div class="rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>
                    <h3>Comfortable Living</h3>
                    <p>"I had an amazing experience at Hotel Noorjahan Grand. The room was stylish and cozy, and the
                        service was top-notch. The central location made it easy to explore the city. I'll definitely be
                        coming back!"</p>
                    <img src="/public/images/cus2.jpg" alt="customer image">
                    <span> Linda Johnson, USA</span>
                </div>
                <!-- end of single customer -->
                <!-- single customer -->
                <div class="customer">
                    <div class="rating">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                    </div>
                    <h3>Nice Place</h3>
                    <p>"Hotel Noorjahan Grand is a delightful oasis in the heart of Sylhet. The ambiance is inviting,
                        the rooms are elegant, and the staff is incredibly warm and accommodating. It truly feels like a
                        home away from home, making it a truly nice place to stay."</p>
                    <img src="/public/images/cus3.jpg" alt="customer image">
                    <span>Jack Huggeman, Australia</span>
                </div>
                <!-- end of single customer -->
            </div>
        </div>
    </section>
    <!-- end of body content -->

    <!-- footer -->
    <footer class="footer">
        <div class="footer-container">
            <div>
                <h2>About Us </h2>
                <p>Discover unmatched luxury at Hotel Noorjahan Grand, located in the heart of downtown Sylhet. Whether
                    for business or leisure, our centrally located hotel offers excellent service and easy access to
                    major attractions, including Hazrat Shahjalal Mazar, just a 5-minute walk away. Our chic and modern
                    rooms are designed for comfort, featuring amenities like a generous workstation, flat-screen TV,
                    electronic safe, and free WiFi. Indulge in the sleek elegance of our space, your perfect hideaway in
                    the city.</p>
                <ul class="social-icons">
                    <li class="flex">
                        <i class="fa fa-twitter fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-facebook fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-instagram fa-2x"></i>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Useful Links</h2>
                <a href="#">Blog</a>
                <a href="#">Rooms</a>
                <a href="#">Subscription</a>
                <a href="#">Gift Card</a>
            </div>

            <div>
                <h2>Privacy</h2>
                <a href="#">Career</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Services</a>
            </div>

            <div>
                <h2>Have A Question</h2>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        Waves 1, Ritz Tower, Dargah Gate, Sylhet, Bangladesh
                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <span>
                        +8801930 111 666
                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>
                        noorjahangrand@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->

    <script src="/public/script.js"></script>
</body>

</html>