<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HOTEL ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/Admin_Home.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/public/images/logo.png" type="image/png">
</head>

<body>

    <!-- header -->
    <header class="header" id="header">
        <div class="head-top">
            <div class="site-name">
                <span>NOORJAHAN GRAND</span>
            </div>
            <div class="site-nav">
                <span id="nav-btn">MENU <i class="fas fa-bars"></i></span>
            </div>
        </div>

        <div class="wavey">
            <span style="--i:1;">W</span>
            <span style="--i:2;">e</span>
            <span style="--i:3;">l</span>
            <span style="--i:4;">c</span>
            <span style="--i:5;">o</span>
            <span style="--i:6;">m</span>
            <span style="--i:7;">e</span>
            <span style="--i:8;"> </span>
            <span style="--i:9;"> </span>
            <span style="--i:10;"> </span>
            <span style="--i:11;">A</span>
            <span style="--i:12;">d</span>
            <span style="--i:13;">m</span>
            <span style="--i:14;">i</span>
            <span style="--i:15;">n</span>


            
            

        </div>
    </header>
    <!-- end of header -->

    <!-- side navbar -->
    <div class="sidenav" id="sidenav">
        <span class="cancel-btn" id="cancel-btn">
            <i class="fas fa-times"></i>
        </span>

        <ul class="navbar">
            <li><a href="#header">home</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/rooms">rooms</a></li>
            
        </ul>
        <!-- <button class = "btn sign-up">sign up</button> -->
     
        <div class="button-container">
            <form method="GET">
                <a class="custom-button" href="admin_registration.ejs">Sign up</a>    <!-- Need a rendering here  -->
            </form>

            <form method="GET">
                <a class="custom-button" href="admin_login.ejs">Login</a>      <!-- Need a rendering here  -->
            </form>
        </div>
        <style>
            .button-container {
                display: flex;
                justify-content: space-between;
            }


            /* Add these styles to your existing CSS file */

            .cancel-button {
                display: inline-block;
                background-color: #e72412;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }

            .cancel-button:hover {
                background-color: #dd463c;
            }



            .custom-button {
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                padding: 15px 30px;
                border-radius: 8px;
                background-color: yellow;
                color: black;
                border: 2px solid #ffd700;
                transition: all 0.3s ease;
                cursor: pointer;
                margin-right: 40px;
                /* Adds space between buttons */
            }

            .custom-button:last-child {
                margin-right: 0;
            }

            .custom-button:hover {
                background-color: #ffd700;
                color: black;
                transform: scale(1.05);
                border-color: #ffd700;
            }
        </style>




    </div>
    <!-- end of side navbar -->

    <!-- fullscreen modal -->
    <div id="modal"></div>
    <!-- end of fullscreen modal -->

    <script src="/public/script.js"></script>
</body>

</html>